:root{
    --main-color : #FD9347;
}

html {
    scroll-behavior: smooth;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

#main_header{
    width: 1200px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 24px;
    position: relative;
}

#main_header #top_menu{
    position: absolute;
    top: 14px;
    right: 0; 
}

#main_header #top_menu a{
    font-size: 12px;
    color: #000;
}

#main_header #top_menu span{
    margin: 0 15px;
    font-size: 10px;
    color: #666;
}

#main_header #gnb ul {
    position: absolute;
    top: 47px;
    right: 0;
}

#main_header #gnb ul li{
    display: inline-block;
    margin-right: 50px;
}

#main_header #gnb ul li:last-child{
    margin-right: 0;
}

#main_header #gnb ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

#main_header #gnb ul li a:hover{
    color: var(--main-color);
}

#main-banner{
    width: 100%;
    height: 700px;
    position: relative;
}

#main-banner .swiper{
    width: 100%;
    height: 700px;
}

#main-banner .swiper .swiper-wrapper .swiper-slide.s1{
    background-image: url(../images/main-visual.jpg);
    background-position: center;
    background-size: cover;
}

#main-banner .swiper .swiper-wrapper .swiper-slide.s2{
    background-image: url(../images/main-visual2.jpg);
    background-position: center;
    background-size: cover;
}

#main-banner .swiper .swiper-wrapper .swiper-slide.s3{
    background-image: url(../images/main-visual3.jpg);
    background-position: center;
    background-size: cover;
}


#main-banner .swiper .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
}

#main-banner .swiper .swiper-wrapper .swiper-slide .title-box{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 258px;
}

#main-banner .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 21px;
}

#main-banner .swiper .swiper-wrapper .swiper-slide p{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
}

#main-banner .swiper .swiper-wrapper .swiper-slide a{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}

.swiper-pagination-bullet{
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.7) ;
}

.swiper-pagination-bullet-active{
    background-color: #fff !important;
}

.swiper-pagination-bullet:not(:last-child){
    margin-right: 43px !important;
}

.swiper-pagination {
    bottom: 45px !important;
}

#contents{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

#contents .news{
    width: 387px;
    height: 237px;
    position: relative;
}

#contents .btn{
    display: flex;
}

#contents .btn > button{
    border: none;
    width: 101px;
    height: 44.44px;
    background-color: rgba(253, 147, 71, 0.5);
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

#contents .btn > button:hover{
    cursor: pointer;
    background-color: rgb(253, 147, 71);
    color: #fff;
}

#contents .btn > button.on{
    background-color: rgb(253, 147, 71);
    color: #fff;
}

#contents .btn > a{
    color: #000;
    position: absolute;
    right: 14px;
    top: 20px;
}

#contents .text-box{
    width: 387px;
    height: 192.56px;
    background-color: rgba(253, 147, 71, 0.1);
    padding: 23px 10px;
    display: none;
}

#contents .text-box.on{
    display: block;
}

#contents .text-box .text{
    display: flex;
}

#contents .text-box .text:not(:last-child){
    margin-bottom: 12px;
}

#contents .text-box .text a{
    font-size: 14px;
    color: #000;
    margin-right: 20px;
    display: block;
    width: 279px;
    white-space: nowrap;
    overflow: hidden;
}

#contents .text-box .text .date{
    font-size: 14px;
}

#contents .map{
    display: flex;
    flex-direction: column;
}

#contents .map > h3{
    text-align: center;
    background-color: #FD9347;
    color: #fff;
    padding: 10px;
}

#about{
    width: 100vw;
    height: 400px;
    background-color: rgb(253, 147, 71, 0.3);
}

#about .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#about > .container > img{
    position: absolute;
    width: 372px;
    left: 0;
    bottom: 0;
}

#about > .container{
    display: flex;
    align-items: center;
}

#about > .container > .title_box{
    z-index: 2;
    width: 400px;
    text-align: center;
    font-size: 40px;
    color: #FD9347;
    margin-right: 68px;
}

#about > .container > .title_box > p{
    z-index: 2;
    text-align: center;
    font-size: 18px;
    color: #5893BE;
}

#about > .container > .contents-box{
    width: 750px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#about > .container > .contents-box > div > h3{
    font-size: 24px;
    margin-top: 10px;
}

#about > .container > .contents-box > div:nth-child(2) > h3{
    margin-top: 0;
    margin-bottom: 10px;
}

#about > .container > .contents-box div > p{
    font-size: 12px;
    margin-top: 5px;
}

#about > .container > .contents-box > div:nth-child(2) > p{
    margin-bottom: 5px;
}

#center{
    width: 100vw;
    height: 325px;
    margin-top: 100px;
    background-image: url(../images/center_bg_pattern.png);
}

#center > .container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

#center .title_box{
    width: 285px;
    height: 304px;
    background-color: #FD9347;
    color: #fff;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 74px;
    margin-right: 20px;
}

#center .title_box > img{
    width: 183px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#center .title_box h3{
    position: relative;
    font-size: 32px;
    margin-bottom: 15px;
    z-index: 3;
}

#center .title_box p{
    position: relative;
    font-size: 16px;
    margin-bottom: 40px;
    z-index: 3;
}

#center .title_box > button{
    border: none;
    background: #fff;
    color: #FD9347;
    font-size: 16px;
    padding: 10px 43px;
    z-index: 10;
    position: relative;
}

#center .title_box > button:hover{
    cursor: pointer;
}

#center .slide{
    padding-top: 21px;
    width: 895px;
    height: 320px;
    overflow: hidden;
    position: relative;
}

#center .slide .slide-container > .images{
    display: flex;
    transition: all 0.7s;
}

#center .slide .slide-container > .images > div{
    position: relative;
}

#center .slide .slide-container > .images > div .hover-box{
    width: 285px;
    height: 234.24px;
    position: absolute;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding-top: 57px;
    display: none;
}

#center .slide .slide-container > .images > div .hover-box.on{
    display: block;
}

#center .slide .slide-container > .images > div .hover-box > h3{
    font-size: 20px;
}

#center .slide .slide-container > .images > div .hover-box > p{
    font-size: 16px;
}

#center .slide .slide-container > .images > div .hover-box > p:last-child{
    font-size: 14px;
    margin-top: 20px;
}

#center .slide .slide-container > .images > div:not(:nth-child(3n)){
    margin-right: 20px;
}

#center .slide .slide-container > .images > div:hover{
    cursor: pointer;
}

#center .slide .slide-btn{
    position: absolute;
    bottom: 6px;
    right: 318px;
    display: flex;
    align-items: center;
}

#center .slide .slide-btn > img:hover{
    cursor: pointer;
}

#center .slide .slide-btn > div{
    display: flex;
    justify-content: center;
}

#center .slide .slide-btn > div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(253, 147, 71, 0.5);
}

#center .slide .slide-btn > div:hover{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(253, 147, 71, 0.8);
    cursor: pointer;
}

#center .slide .slide-btn > div.on{
    background-color: rgb(253, 147, 71);

}

#center .slide .slide-btn > div:not(:nth-child(4)){
    margin-right: 16px;
}

#center .slide .slide-btn > div:nth-child(4),#center .slide .slide-btn > img:first-child{
    margin-right: 66.95px;
}

#adoption{
    margin-top: 100px;
    width: 100vw;
    height: 320px;
    background-image: url(../images/adoption_bg_pattern.png);
}

#adoption > .adoption-container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;

}

#adoption .container{
    padding-top: 30px;
    display: flex;
    width: 895px;
    justify-content: space-between;
    margin-right: 20px;
}

#adoption .container .info-box > div{
    display: block;
    width: 285px;
    height: 250px;
    border: 1px solid #999;
    background: rgba(255, 255, 255);
    padding: 15px 20px;
    color: #000;
    overflow: hidden;
    transition: all 0.5s;
}

#adoption .container .info-box > div:hover{
    height: 340px;
    cursor: pointer;
}

#adoption .container .info-box div > img{
    margin-bottom: 9px;
}

#adoption .container div .text-box{
    position: relative;
}

#adoption .container div .text-box >h4{
    position: absolute;
    top: 0;
    left: 42px;
    font-size: 18px;
    font-weight: 400;
}

#adoption .container div .text-box > .date{
    position: absolute;
    top: 25px;
    left: 42px;
    font-size: 12px;
    font-weight: 400;
}

#adoption .container div .text-box > p:last-child{
    margin-top: 18px;
    width: 245px;
    height: 78px;
    font-size: 14px;
    overflow: hidden;
}


#adoption .title_box{
    width: 285px;
    height: 304px;
    background-color: #FD9347;
    color: #fff;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 74px;
    margin-right: 20px;
}

#adoption .title_box > img{
    width: 145px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#adoption .title_box h3{
    position: relative;
    font-size: 32px;
    margin-bottom: 15px;
    z-index: 3;
}

#adoption .title_box p{
    position: relative;
    font-size: 16px;
    margin-bottom: 40px;
    z-index: 3;
}

#adoption .title_box > button{
    border: none;
    background: #fff;
    color: #FD9347;
    font-size: 16px;
    padding: 10px 43px;
    z-index: 10;
    position: relative;
}

#adoption .title_box > button:hover{
    cursor: pointer;
}

#donation{
    width: 100%;
    height: 670px;
    background-image: url(../images/donation_bg.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

#donation .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#donation .container > h3{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding-top: 35px;
}

#donation .container > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#donation .container .text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 20px;
}

#donation .container .text-box:nth-child(3){
    top: 340px;
    left: 151px;
}

#donation .container .text-box:nth-child(4){
    top: 212.8px;
    left: 378px;
}

#donation .container .text-box:nth-child(5){
    top: 335.9px;
    left: 684px;
}

#donation .container .text-box:nth-child(6){
    top: 213px;
    left: 880.5px
}

#donation .container .text-box > p{
    margin-bottom: 20px;
}

#donation .container .education > p, #donation .container .support > p{
    margin-bottom: 0;
    margin-top: 20px;
}

#donation .arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

#donation .arrow > img{
    animation-name: donation_arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes donation_arrow {
    50%{
        transform: translateY(0);
    }

    80%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(0);
    }
    
}


#donation-banner{
    width: 100%;
    height: 250px;
    background-image: url(../images/donation-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donation-banner .title{
    text-align: center;
    color: #fff;
}

#donation-banner .title > h4{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

#donation-banner .title > p{
    font-size: 36px;
    font-weight: 500;
}

#main-footer{
    width: 100%;
    height: 140px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-footer .ft-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

#main-footer .ft-menu > li > a{
    color: #fff;
}

#main-footer .ft-menu > li > span{
    margin-right: 1em;
    margin-left: 1em;
}

#main-footer .text-box .info{
    margin-bottom: 10px;
}